.gameButtons {
    display: flex;
    justify-content: center;
}

.rock, .paper, .scissors {
    background-color: rgb(214, 214, 214);
    border-style: solid;
    border-radius: 200px;
    margin: 2px;
    border: 2px;
    padding: 2px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 6px  rgb(122, 122, 122);
}
.rock:hover {
    background-color: green;
}
.paper:hover {
    background-color: green;
}
.scissors:hover {
    background-color: green;
}

.rock:active {
    background-color: rgb(0, 95, 0);
    box-shadow: 0 3px rgb(73, 73, 73);
    transform: translateY(4px);
}

.paper:active {
    background-color: rgb(0, 95, 0);
    box-shadow: 0 3px rgb(73, 73, 73);
    transform: translateY(4px);
}

.scissors:active {
    background-color: rgb(0, 95, 0);
    box-shadow: 0 3px rgb(73, 73, 73);
    transform: translateY(4px);
}

.scores, .winner {
    display: flex;
    justify-content: center;
}

.playScore, .compScore {
    font-size: 50px;
    border: 10px;
    padding: 0px 30px 0px 30px;
    margin: 0px 30px 0px 30px;
}

.roundResult {
    text-align: center;
    border: 0px;
    padding: 10px;
    margin: 10px;
}

.winner {
    text-align: center;
    border: 0px;
    padding: 10px;
    margin: 10px;
}